<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
        cacheResult="false"
>
    <testsuites>
        <testsuite name="Nuvei PHP SDK">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>